@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>This Blazor application is a project created for learning C# and Blazor assembly. It includes CRUD functionality and utilizes a free API provided by app.beeceptor.com.</p>

<a href="/user-manager">Go to CRUD 🚀</a>

