@if (IsOpen)
{
    <div class="dialog-overlay" @onclick="HandleOverlayClick">
        <div class="dialog-body" @onclick:stopPropagation>
            @ChildContent
        </div>
    </div>
}

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool IsOpen { get; set; }

    [Parameter]
    public EventCallback<EventArgs> OnClose { get; set; }

    private void HandleOverlayClick()
    {
        OnClose.InvokeAsync(EventArgs.Empty);
    }
}
